html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: "Inter", serif;
    background-color: #121212;

}

h1, h2, h3, h4, h5{
    margin: 0;
}

header{
    background-image: url(https://images.unsplash.com/photo-1628432136678-43ff9be34064?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 30%;
    background-position: 0% 23%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
     /* this one */
    position: relative;
    /* this one */
    z-index: 1;
    width: 100vw;

}

/* This one */
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1; 
    width: 100vw;

}

.half-background{
    width: 100vw;
    margin: auto auto 0px auto;
    background: linear-gradient(to top, #121212 50%, rgba(0,0,0,0) 50%);
    margin: 0;
}

.HeaderInputContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    border-radius: 20px;
}

#movie-title-input, #search-movie-btn, .search-icon{
    height: 1.8rem;
    box-sizing: border-box;
    
}

.search-icon{
    width: 5vw;
    background-color: #4B4B4B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:right;
    text-align: center;
    font-size: 0.5rem;
    padding-top: 0.7rem; ;
}

#movie-title-input{
    width: 55vw;
    background-color: #4B4B4B;
    border: none;
    color: #A5A5A5;
}

#search-movie-btn{
    width: 20vw;
    background-color: #4B4B4B;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 0.6rem;
}

/* Header text container */

.headerTextContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 80%;
    margin: auto;
}

.headerTextContainer a, h1{
    text-shadow: 2px 2px  rgb(14, 14, 14);
}

.headerTextContainer a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-size: 1.8rem;
}


.main-starting-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.fontawesome-movie{
    font-size: 5rem;
    color: #2E2E2F;
}

.main-starting-image-container p{
    color: #2E2E2F;
    font-size: 1.7rem;
    font-weight: bold;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #121212;
    margin-top: 50px;
    flex-direction: column;
}

.movie-container{
    box-sizing: border-box;
    display: flex;
    width: 80%;
    color: white;
    padding-bottom: 2rem;
    border-bottom: #2C2C2C 1px solid;
    max-width: 900px;
    margin: 1rem 0rem;
}

.movie-info-container{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.movie-img{
    width: 30%;
    height: 45%;
    max-width: 150px;
    margin: auto 0px;
}

.title-evaluation-container{
    display: flex;
    align-items:start;
}

.title-evaluation-container h2{
    font-size: 1rem;
    font-weight: 400;
}


.star{
    font-size: 0.8rem;
    color: rgb(231, 231, 13);
}

.evaluation-container{
    display: flex;
    align-items: start;
    align-items: center;
    margin-left: 1rem;
}

.evaluation-container p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-left: 0.5rem;
}


.information-watchlist-add-container{
    display: flex;
    margin: 0.1rem 0rem;
    align-items: center;
}

.information-watchlist-add-container p{
    font-size: 0.7rem;
    margin-right: 0.3rem ;
}

.add-font{
    font-size: 0.7rem;
    background-color: white;
    color: #121212;
    border-radius: 50%;
    margin-right: 0.1rem;
}

.watchlist-container{
    display: flex;
    align-items:center;
    justify-content: center;
}



.watchlist-container button{
    padding: 0;
    border: none;
    background-color: #121212;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    display: flex;
    
    justify-content: center;
}

.movie-description{
    font-size: 0.8rem;
    color: #A5A5A5;
    max-width: 800px;
    margin: 0;
}

.no-movie-found{
    width: 80%;
    margin-bottom: 125px;
}

.no-movie-added, .no-movie-found{
    color: #787878;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 50px;
}

.add-movies-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-movies-font{
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 0.5rem;
    color:#121212;
    font-size: 0.8rem;
}

.add-movies-container p{
    color: white;
    margin: 0;
}

.headerTextContainerWatch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 80%;
    margin: auto;
}

.headerTextContainerWatch a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.headerTextContainerWatch h1{
    font-size: 1.5rem;
}

.remove-item{
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
    margin-right: 0.5rem;
    color:#121212;
    font-size: 0.8rem;
}

@media (min-width:600px){
    h1{
        font-size: 3rem
    }

    .headerTextContainer a{
        font-size: 2rem;
    }

    .main-starting-image-container p, li{
        font-size: 3rem;
    }

    #movie-title-input, #search-movie-btn, .search-icon{
        height: 2.5rem;
        font-size: 1.5rem;
        
    }
    .headerTextContainer{
        width: 70%;
    }

    .search-icon{
        width: 2.5vw;
        justify-content:center;
        font-size: 1rem;
        padding-left: 0.8em;
    }

    .title-evaluation-container h2{
        font-size: 2rem;
        font-weight: 400;
    }

    .evaluation-container p{
        font-size: 2rem;
        margin-left: 1rem;
    }

    .star{
        font-size: 1.5rem;
    }

    .information-watchlist-add-container p{
        font-size: 1.1rem;
    }

    .add-font{
        font-size: 1.1rem;
        margin-left:1rem;
        padding: 0.2rem;
    }

    .watchlist-container button{
        font-size: 1.1rem;
    }

    .movie-description{
        font-size: 1rem;
    }

    .watchlist-container{
        margin-left: auto;
        display: block;
        padding: 0;
    }
}
